{% extends 'layout.html' %}

{% block body %}
<div class="container">
   <div class="jumbotron jumbotron-dark bg-light my-3 p-3 bg-White rounded shadow-sm" style="background-color: #515A5A;">
    <div class="container container-dark bg-light my-3 p-3 bg-White rounded shadow-sm style="background-color: #515A5A;">

    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-8">
        <h2>Be A HIRER</h2>
        <p>Feeling tired of doing more than you're used to? Be a HIRER and you can easily let experienced proffessionals handle the work for you. Click the link below to join today.</p>
        <p><a class="btn btn-secondary" href="/tojob" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-8">
        <h2>Hunt For Jobs</h2>
        <p>The jobs you desire are just clicks away. Get paid to do the things you love. This makes both people happy. Click the link below to join today. </p>
        <p><a class="btn btn-secondary" href="/tojob" role="button">View details &raquo;</a></p>
      </div>
   </div>
    </div>

    <hr>

  </div> <!-- /container -->

{% endblock %}
