<!DOCTYPE html>
 <htmlc lang='en'>
  <head>
   <meta charset='utf-8'>
   <title>FSociety</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
 </head>
 <body style="background-color: #76D7C4";>
  {% include 'includes/_navbar.html' %}
  <div class="container">
   {% block body %}{% endblock %}
  </div>


<img src="{{url_for('static',filename='download.jpg')}}>)
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js">

  </script>
 </body>





<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">End of page here.</span>
  </div>
</footer>

</html>
