{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron jumbotron-dark bg-dark my-3 p-3 bg-Black rounded shadow-sm" style="background-color: #34495E;">
    <div class="container container-light bg-light my-3 p-3 bg-White rounded shadow-sm">
      <h1 class="display-2">FSOCIETY YOUR SOCIETY!</h1>
      <p>WorkSociety is an online marketplace for freelance services. It provides a platform for freelancers to offer services to customers worldwide. WorkSociety serves to allow listing and applying for small one-off jobs, or gigs, online. Jobs listed are diverse and range from "get a well-designed business card" to "help with HTML, JavaScript, CSS, and JQuery". WorkSociety is a company built on the model of listing temporary work positions. Freelancers work in a variety of workplaces, ranging from home to office.</p>
      <p class="text-center">Website Still In Development</p>   
      <p><a class="nav-link" href="/authors" role="button">Learn more about FSociety &raquo;</a></p>
    </div>
  </div>


    <div class="container">
    <!-- Example row of columns -->
    <div class="row my-3 p-3 bg-Black rounded shadow-sm" style="background-color: #F5EEF8;">
      <div class="col-md-4 my-3 p-3 bg-Black rounded shadow-sm" style="background-color: #F8F9F9;">
        <h2>WORK</h2>
        <p>Work At Your Own Free Time. Work From Home or Anywhere and On The Go.</p>
        <p></p>
      </div>
      <div class="col-md-4 my-3 p-3 bg-Black rounded shadow-sm" style="background-color: #F8F9F9;">
        <h2>ASK</h2>
        <p>Ask Proffessionals To Help You With Difficult Taks. Our Hunters Are Always Available At Your Doorstep. </p>
        <p></p>
      </div>
      <div class="col-md-4 my-3 p-3 bg-Black rounded shadow-sm" style="background-color: #F8F9F9">
        <h2>EARN</h2>
        <p>Earn Money For The Work You Take Up Easily And Hastle-Free. Become A Hunter And Help The Hirer's In Need. </p>
        
      </div>
    </div>

    <hr>

    <p class="mt-5 mb-3 text-muted text-center">Created by FSociety Developers</p>

  </div> <!-- /container -->
{% endblock %}
