{% extends 'layout.html' %}

{% block body %}


  <div class="jumbotron ">


    <h1 class="display-5  text-center mb-4 font-weight-normal">Need For Maths Tutor</h1>
    <div="container">
    <div class="row ">
    <div class="col-md-4 ">
     <p class="text-center mb-4 font-weight-normal">Name</p>                     
     <p class="text-center mb-4 font-weight-normal">Username</p>                                  
     <p class="text-center mb-4 font-weight-normal">Phone No.</p>                    
     <p class="text-center mb-4 font-weight-normal">Age</p>                          
     <p class="text-center mb-4 font-weight-normal">Location</p>
     <p class="text-center mb-4 font-weight-normal">Job Details</p> 
    </div>
    <div class="col-md-4">
     <p class=" mb-4 font-weight-normal">:</h2>                     
     <p class=" mb-4 font-weight-normal">:</p>                                                               
     <p class=" mb-4 font-weight-normal">:</p>
     <p class=" mb-4 font-weight-normal">:</p>
     <p class=" mb-4 font-weight-normal">:</p>
     <p class=" mb-4 font-weight-normal">:</p>
     </div>
    <div class="col-md-4">
     <p class=" mb-4 font-weight-normal">Rani Prasad</p>                       
     <p class=" mb-4 font-weight-normal">raniprasad1234</p>                    
     <p class=" mb-4 font-weight-normal">1234xxxxxx</p>                    
     <p class=" mb-4 font-weight-normal">24</p>                          
     <p class=" mb-4 font-weight-normal">Kalamassery</p>
     <p class=" mb-4 font-weight-normal">Maths Tutor; Calculus; Trigonometry</p> 
     </div>
    </div>
    </div>
    <span class="nav-link fixed-right">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Proceed To Unlock For $50</button>
    </span>
  </div>

{% endblock %}
