{% extends 'layout.html' %}

{% block body %}


  <div class="container">
    <h1>fake</h1>
    <h2></h2>
    <!-- Example row of columns -->
    <div class="row my-3 p-3 bg-Black rounded shadow-sm" style="background-color: #F5EEF8;">
      <div class="col-md-4">
      <h2>Nearby Job Availabilities</h2>
        <p><a class="btn btn-secondary" href="/maths" role="button">Need of a Maths Tutor &raquo;</a></p>
        <p><a class="btn btn-secondary" href="#" role="button">Need of an Electrician &raquo;</a></p>
       <p><a class="btn btn-secondary" href="#" role="button">Want a baby-sitter for Two Days &raquo;</a></p>
       <a class="nav-link" href="/search" role="button">View all &raquo;</a></p>
       <button class="btn btn-outline-success my-2 my-sm-0" href="/search" role="button">Search By Category &raquo;</a></button>
   
      </div>
      <div class="col-md-4">
        <h2>Latest Jobs Opportunities</h2>
       <p><a class="btn btn-secondary" href="#" role="button">Design a sports campaign logo  &raquo;</a></p>
       <p><a class="btn btn-secondary" href="#" role="button">Buy groceries from a nearby supermarket &raquo;</a></p>
       <p><a class="btn btn-secondary" href="#" role="button">Print custom design for T-shirts &raquo;</a></p>
       <a class="nav-link" href="/search" role="button">View all &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Buisness Offers Updates</h2>
       <p><a class="btn btn-secondary" href="#" role="button">Code the front-end of an official site &raquo;</a></p>
       <p><a class="btn btn-secondary" href="#" role="button">Write a blog about the food provided in their restaurants &raquo;</a></p>
       <p><a class="btn btn-secondary" href="#" role="button">Design a logofor a new company &raquo;</a></p>
       <a class="nav-link" href="/search" role="button">View all &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</div>
</div>
{% endblock %}
