<!DOCTYPE html>
 <html>
  <head>

   <meta charset='utf-8'>
   <title>WORKSociety</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
 </head>
 <body style= background-image:url("https://sg.fiverrcdn.com/photos/107933932/original/d74d765aee7d434316d2037183807453dff1e1d1.jpg?1518560256");>
  <img src="img/download.jpg">
  {% include 'includes/_navbar.html' %}
  <div class="container">
   {% block body %}{% endblock %}
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js">

  </script>
 </body>




</html>
